:root {
    --primary-color: #19747E; /* Deep Teal */
    --secondary-color: #A9D6E5; /* Light Sky Blue */
    --background-color: #D1E8E2; /* Soft Mint Green */
    --accent-color: #E2E2E2; /* Light Gray */
    
    /* Text Colors */
    --text-color: #4a4a4a; /* Dark Gray for normal text */
    --heading-color: #003366; /* Deep Navy Blue for headings */
    --subtext-color: #6c757d; /* Light Gray for subtext */
  }



  body {
    background-color: black; 
    margin: 0;
    padding: 0;
  
  }
  /* Global Button Styles */
.btn {
  background-color: var(--primary-color);
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 50px; /* Optional: To make the buttons rounded */
  transition: background-color 0.3s ease;
}

/* Hover Effect for Buttons */
.btn:hover {
  background-color: var(--secondary-color);
  color: var(--heading-color);
  font-weight: bolder;
}